*{
    -fx-font-family: Inter;
}
#closePane{
    -fx-background-color: #A5A5A8;
}

.text-field{
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-border-color:  #FEC300;
    -fx-prompt-text-fill: rgba(100, 100, 100, 0.6);
    -fx-font-size: 16;
}
.button{
    -fx-background-color: #2f2f2f;
    -fx-text-fill: #FFF47D;
    -fx-font-size: 17;
    -fx-background-radius: 0;
    -fx-border-color: black;
}
.button:hover{
    -fx-background-color: #fff04d;
    -fx-text-fill:#2f2f2f;
    -fx-border-color:#FEC300;
}
#btnCancel:hover{
    -fx-background-color: #ff8533;
    -fx-text-fill:#2f2f2f ;
}
#btnCreateAccount{
    -fx-border-color: #FEC300;
    -fx-background-color: transparent;
    -fx-text-fill:black ;
}
#btnCreateAccount:hover{
    -fx-background-color: #fff04d;
}
#closeMiniIcon:hover{
    -fx-effect:  dropshadow( three-pass-box , rgba(122, 122, 122, 0.6), 5, 0.3, 2 , 2 );
    -fx-opacity: 1;
}
